footer {
    color: white;
    text-align: right;
    background-color: black;
    text-transform: uppercase;
    height: 100px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 0px;
    padding: 0%;
}